---
import Layout from '../layouts/Layout.astro';
import GradeCalculator from '../components/GradeCalculator.jsx';
---

<Layout title="Calculadora de Notas Ponderadas">
	<main class="w-full min-h-screen">
		<GradeCalculator client:load />
	</main>
</Layout>

